<!--<div class="arrow-container">
    <div class="arrow left" onclick="scrollUp()">&larr;</div>
    <div class="arrow right" onclick="scrollDown()">&rarr;</div>
</div>-->

<div class="navbar-container">
    <div class="navbar-icon-container" (click)="selectProject('tetrys')">
    <img src="assets/logos/tetris-logo.svg" class="navbar-icon">
  </div>
  <div class="navbar-icon-container" (click)="selectProject('android')">
    <img src="assets/logos/android-logo.svg" class="navbar-icon">
  </div>
  <div class="navbar-icon-container" (click)="selectProject('babylon')">
    <img src="assets/logos/babylon-jo-logo.svg" class="navbar-icon">
  </div>
  <div class="navbar-icon-container" (click)="selectProject('matchup')">
    <img src="assets/logos/matchup-logo.svg" class="navbar-icon">
  </div>
  <div class="navbar-icon-container" (click)="selectProject('redbull')">
    <img src="assets/logos/redbull-logo.svg" class="navbar-icon">
  </div>
</div>
<h5 class="explain-text">Click on icon to see the project</h5>