<div id="conveyor-canvas-container" class="canva-container">
    <canvas id="conveyor-canvas-box"></canvas>
    <div class="projects">
        <div class="projects-container" *ngIf="project$ | async as project">
            <div class="blur-background"></div>
            <div class="project-content">
                <h3 class="project-title">{{ project.title }}</h3>
                <h5 class="project-explains" [innerHTML]="project.description"></h5>
                <a [href]="project.link" target="_blank" class="project-detail-button">Click here for details &rarr;</a>
            </div>
        </div>
        <div class="bottom-projects-container">
        
        </div>
        <div class="holo"></div>
    </div>
</div>