<div class="header">
  <nav-bar></nav-bar>
</div>

<div class="main-container">
  <div class="profil-container">
    <p>Hi, my name is</p>
    <div class="name-container">
      <h1 class="firstname">Romain</h1>
      <h1 class="lastname">ABBONATO</h1>
    </div>
    <h5 class="short-bio-text">I am a third-year student at 
      <a href="https://polytech.univ-cotedazur.fr/" class="highlight">Polytech Nice Sophia</a>, 
      pursuing an engineering degree in Computer Science. 
      Passionate about science and technology, I am excited to become a 
      <span class="highlight-text">full-stack developer</span> through this program.
    </h5>
  </div>
    <canva-box></canva-box>
</div>
