.main-container {
    width: 100vw;
    height: 100vh;
    padding: 0px 0px; 
    position: relative;
    overflow: visible;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.snap-section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
}

.profil-container{
    overflow: visible;
    margin-top: 9%;
    margin-left: 9%;
    width: 30%;
    color: #ffffffa8;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;;

    & p{
        font-family: 'FiraCode', monospace;
        font-weight: 400;
        color: var(--sea-blue);
        margin-bottom: 0.5rem;
    }
}

.name-container{
    display: flex;
    flex-direction: column;

    & h1{
        font-weight: 900;
        line-height: 1.1;
        font-family: 'Inter', sans-serif;
    }

    & .firstname{
        color: var(--light-white);
    }

    & .lastname{
        color: var(--light-white-lighter);
    }
}

planet {
    position: sticky;
    right: -5%;
    height: 100vh;
    pointer-events: none;
    transform: translateY(0) translateX(0);
    z-index: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.header{
    height: 10%;
    width: 100%;
    display: flex;
    background-color: var(--background);
    z-index: -10;
    position: fixed;
}

.short-bio-text{
    margin-top: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--light-white-lighter);

    & a{
        text-decoration: none;
        color: var(--sea-blue);
        transition: color 0.3s ease-in-out;
    }

    & a:hover{
        color: var(--sea-blue-lighter);
    }

    & .highlight-text{
        color: var(--sea-blue);
    }
}

nav-bar{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}

scroll {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 70%;
}

.hidden {
    transform: translateY(-100px);
    opacity: 0;
}

.expanded {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.transitioning {
    top: 50%;
    transform: translate(-27%, -50%) scale(0.7);
}

.disappearing {
    transform: translate(-50%, -150%) scale(1.5);
    transition: transform 0.5s ease-in-out;
}

.scroll-info{
    position: fixed;
    top: 10%;
    left: 10%;
}


.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

conveyor-belt{
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}